.App,
.root,
body,
html {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.instructionalText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px
}

.increment {
  background-color: mediumspringgreen
}

.decrement {
  background-color: pink
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rbc-toolbar {
  display: none
}

.rbc-event {
  color: black !important;
  background: none !important;
  outline: none !important
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}